<%- include('header') -%>
    <main>
        <section>
            <h2>A PROPOS</h2>
            <div>
            <img src="../image/culture.jpg" alt="photo d'un mariage balinais">
            </div>
            <p>Bali est une île dépaysante avec une culture hindou très présente. Beaucoup de rites font partis du quotidien des balinais et on peut le ressentir au moment même ou nous arrivons sur le l'île. Les balinais portent au quotidien leur tenues
                traditionelles qui se composent pour les hommes d'un Sarong, d'une chemise blanche et d'un bandeau appelé Udeng. Les femmes, elles portent également des Sarong et un haut traditionnel appelé Selendang. En tant que touristes, il est important
                de respecté la tradition balinaise notamment lors de la visite des temples. Les épaules et les genoux doivent être couverts que se soient pour les femmes et pour les hommes. La plupart du temps, des Sarong sont proposés à l'entrée des
                temples pour pouvoir y entrer.</p>
            <p>Les balinais font des offrandes à leur dieux tous les matins. Il s'agit de petit panier en feuilles, rempli de fleurs, de riz, d'encens ou tout autres denrées représentant leur gratitude et reconnaissance aux dieux d’une part et d’apaiser
                les démons d’autre part. Ces offrandes s'appellent des "Canang Sari". Ils les déposent généralement devant leur maisons et boutiques dans la rue. Attention donc à ne pas marcher dessus lors de vos déplacements.</p>
            <p>Bali est la seule île d'Indonésie, étant majoritairement musulmane, qui est hindouiste. Ils croient en 3 Dieux qui sont le créateur, le protecteur et le destructeur: Brahmā, Viṣṇu et Śiva. Ils croient également au karma, ce qui se ressens
                au quotidien. Les balinais sont très accueillants et respectueux ce qui rend également l'île très sûre. On peut ressentir beaucoup de spiritualité sur l'île et les balinais aiment partager leur culture qui esr très différente de la notre.
                Si vous prenez le temps d'échanger avec les locaux, vous pourrez apprendre beaucoup de leur état d'esprit et de leur manière de vivre.</p>
            <p>Les cérémonies ont souvent lieu dans les temples, vous assisterez certainement à l'une d'entre elle lors de vos visites. Elles sont ouvertes à tous et souvent rythmées par de la musique traditionnelle. Il s'agit d'un spectacle unique et spirituel
                très intéressant. </p>
            <p>Les danses traditionnelles font également partie intégrante de la culture balinaise à ne pas manquer. Les danseurs sont en tenues traditionnelles et racontent une histoire de princesses, de Dieux, de démons et de guerriers, généralement tirée
                de l'histoire hindoue. Beaucoup de représentation on lieu pour les touristes notamment à Ubud. Il s'agit d'un joli spectable à la fois théatrale et musical.</p>
        </section>
        </section>
    </main>
<%- include('footer') -%>
