<footer>
    <section class="footer">
        <section class="footer_contact">
            <div class="footer_logo">
            <a  href="/"><img src="/image/Logo_bali.png" alt="logo du site représentant le temple Tanah Lot à Bali"></a>
            <h4>Bali Travelers</h4>
            </div>
        </section>
        <section class="social_network">
            <h4>Social Networks</h4>
            <p>Retrouvez-nous sur nos réseaux sociaux</p>
            <a href="#">
               <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
           </a>
            <a href="#">
               <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
           </a>
            <a href="#">
               <i class="fa-brands fa-pinterest" style="color: #ffffff;"></i>
           </a>
        </section>
        
        <section class="footer_final">
            <p>©Copyright 2023 Bali Travelers. Tous droits réservés - <a href="#">Conditions générales</a> </p>
        </section>
        </section>
    
</footer>
<script src="/script.js"></script>
</body>
</html



