<footer>
    <section class="footer">
        <section class="footer_contact">
            <h4>Contact</h4>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur</p>
        </section>
        <section class="social_network">
            <h4>Social Networks</h4>
            <a href="#">
               <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
           </a>
            <a href="#">
               <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
           </a>
            <a href="#">
               <i class="fa-brands fa-pinterest" style="color: #ffffff;"></i>
           </a>
        </section>
        
        <section class="footer_final">
            <p>©Copyright 2023 - <a href="#">Conditions générales</a> </p>
        </section>
        </section>
    
</footer>
<script src="/script.js"></script>
</body>
</html
