<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Bali Travelers</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Merienda:wght@400;700&display=swap" rel="stylesheet">

<!-- ********FAVICON ********  -->
<link rel="apple-touch-icon" sizes="180x180" href="image/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="image/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="image/favicon/favicon-16x16.png">
<link rel="manifest" href="image/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <section>
            <nav id="nav">
        <div class="nav_header">
            <div class="header_logo">
            <a href="/admin/itineraire"><img src="/image/Logo_bali.png" alt="logo du site représentant le temple Tanah Lot à Bali"></a>
            </div>
            <h1><a href="/admin/itineraire">Bali Travelers</a></h1>
            <div id='icons'></div>
            </div>
            <ul>
                    <li>
                        <a href="/admin/itineraire">Itinéraires</a>
                    </li>
                    <li><a href="/admin/user"> User</a>
                    </li>
                    <li><a href="/admin/comment">Commentaires</a></li>
                    <% if (locals.isLogged) { %>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/login">Login</a></li>
                <% } %>
                </ul>
            </nav>
        </section>
    </header>
    <main id="main_menu">
