<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Bali Travelers</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Merienda:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <section>
            <nav class="active">
                <div  class="header_logo">
            <img src="../image/Logo_bali.png" alt="logo du site représentant le temple Tanah Lot à Bali">
            <h1>Bali Travelers</h1>
        </div>
        <div id="navbar">
                <ul id="ul_nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="">Itinéraire</a>
                        <% for(const itineraire of itineraires) { %>
                            <ul id="ul_list_nav">
                                <li>
                                    <p>
                                        <a href="/itineraire/<%= itineraire.id %>">
                                            <%= itineraire.titre_1 %>
                                        </a>
                                    </p>
                                </li>
                            </ul>
                            <% } %>
                    </li>
                    <li><a href="/aPropos">A propos de Bali</a></li>
                    <li><a href="/comment">Commentaires</a></li>
                </ul>
                <div id='icons'></div>
                </div>
            </nav>
        </section>
    </header>
    <main>