<%- include('header') -%>
        <div class="home">
            <div class="slider">
                <img class="js-img-slider active" src="/image/slider_1.jpg" alt="photo du temple Tanah Lot">
                    <img class="js-img-slider active" src="/image/slider_2.jpg" alt="photo des rizières Tegallalang">
                    <img class="js-img-slider active" src="/image/slider_3.jpg" alt="photo d'une piscine qui donne sur la jungle balinaise">
                    <img class="js-img-slider active" src="/image/slider_4.jpg" alt="photo de la plage sur les îles Gili">
                 
            </div>
        </div>
        <section class="figures">
            <h2>BIENVENUE SUR BALI TRAVELERS</h2>
            <h3>QUELQUES INFOS UTILES</h3>
            <div class="home_figure_container">
        <figure class="home_figure">
            <a href="https://www.balisolve.com/" target="_blank">
                <img src="/image/logo_balisolve.png" alt="logo du site Bali Solve">
                </a>
            <figcaption>  Pour toute demande de Visa ou autre conseils, l'agence Bali Solve peut vous être utile</figcaption>
        </figure>
        <figure class="home_figure">
            <a href="https://www.asia.fr/infos-voyage-bali" target="_blank">
            <img src="/image/logo_asia.png" alt="logo du site Asia">
            </a>
            <figcaption>  Quelques infos utiles pour découvrir le pays en amont, comme la géographie, les Us et coutumes, les formalités et bien d'autres encore.</figcaption>
        </figure>
        <figure class="home_figure">
            <a href="https://www.routard.com/guide_liens/code_dest/bali.htm" target="_blank">
            <img src="/image/logo_routard.png" alt="logo du site du Routard">
            </a>
            <figcaption>  L'incontournable site du Routard, toujours utile et très complet pour la préparation d'un voyage ! </figcaption>
        </figure>
        <figure class="home_figure">
            <a href="https://balipassion.net/blog/les-applications-telecharger-avant-de-partir-bali/" target="_blank">
            <img src="/image/bali_passion.png" alt="logo du site Bali Passion">
            </a>
            <figcaption>  Un site qui répertorie des applications très utiles pour votre prochain voyage à Bali. </figcaption>
        </figure>
        </div>
        </section>
    </main>
<%- include('footer') -%>