<%- include('header') -%>
        <section class="home">
            <h2>BIENVENUE SUR BALI TRAVELERS</h2>
            <div class="slider">
                <img class="js-img-slider active" src="/image/slider_1.jpg" alt="photo du temple Tanah Lot">
                    <img class="js-img-slider" src="/image/slider_2.jpg" alt="photo des rizières Tegallalang">
                    <img class="js-img-slider" src="/image/slider_3.jpg" alt="photo d'une piscine qui donne sur la jungle balinaise">
                    <img class="js-img-slider" src="/image/slider_4.jpg" alt="photo de la plage sur les îles Gili">
            </div>
        </section>
    </main>
<%- include('footer') -%>