<%- include('header') -%>
    <main>
        <section>
            <div id="slider">
                <a href="#" class="control_next"></a>
                <a href="#" class="control_prev"></a>
                <ul>
                    <li><img src="../image/slider_1.jpeg" alt="photo d'une plage et de bateaux à Bali"></li>
                    <li><img src="../image/slider_2.jpg" alt="photo d'un coucher de soleil sur une plage avec des montagnes"></li>
                    <li><img src="../image/slider_3.jpg" alt="photo d'une piscine qui donne sur la jungle balinaise"></li>
                </ul>
            </div>
        </section>
    </main>
<%- include('footer') -%>