<%- include('header') -%>
        <section class="home">
            <h2>BIENVENUE SUR BALI TRAVELERS</h2>
            <div class="slider">
                <img class="js-img-slider active" src="/image/slider_1.jpg" alt="photo du temple Tanah Lot">
                    <img class="js-img-slider" src="/image/slider_2.jpg" alt="photo des rizières Tegallalang">
                    <img class="js-img-slider" src="/image/slider_3.jpg" alt="photo d'une piscine qui donne sur la jungle balinaise">
                    <img class="js-img-slider" src="/image/slider_4.jpg" alt="photo de la plage sur les îles Gili">
            </div>
        </section>
        <section>
            <h3>QUELQUES INFOS UTILES</h3>
        <figure>
            <img src="/image/logo_balisolve.png" alt="logo du site Bali Solve">
            <figcaption> <a href="<https://www.balisolve.com/"> Pour toute demande de Visa ou autre conseils, l'agence Bali Solve peut vous être utile</a></figcaption>
        </figure>
        <figure>
            <img src="/image/logo_asia.png" alt="logo du site Asia">
            <figcaption> <a href="https://www.asia.fr/infos-voyage-bali"> Quelques infos utiles pour découvrir le pays en amont, comme la géographie, les Us et coutumes, les formalités et bien d'autres encore.</a></figcaption>
        </figure>
        <figure>
            <img src="/image/logo_routard.png" alt="logo du site du Routard">
            <figcaption> <a href="https://www.routard.com/guide_liens/code_dest/bali.htm"> L'incontournable site du Routard, toujours utile et très complet pour la préparation d'un voyage ! </a></figcaption>
        </figure>
        <figure>
            <img src="/image/logo_bearnais.jpeg" alt="logo site Bearnais voyageurs">
            <figcaption> <a href="https://bearnais-voyageur.com/15-applications-indispensables-pour-un-voyage-a-bali/"> Un site qui répertorie 15 applications très utiles pour votre prochain voyage à Bali. </a></figcaption>
        </figure>
        </section>
    </main>
<%- include('footer') -%>