<%- include('header') -%>
    <main>
        <h2>COMMENTAIRES</h2>
        <section>
            <div>
                <p>N'hésite pas à nous laisser un commentaire, une expérience ou autre sur les différents itinéraires ou sur ton propre itinéraire à Bali ! Cela permettra aux autres voyageurs d'avoir d'autres retours !</p>
            </div>
            <div>
                <img src="../image/offrande.jpg" alt="photo des panier d'offrandes hindoues">
            </div>
        </section>
        <section>
            <form method="post">
                <div>
                    <label for="pseudo">Pseudo</label>
                    <input type="text" name="pseudo" id="pseudo" value="pseudo" placeholder="Ton Pseudo" required="required">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="email" placeholder="Ton Email" required="required">
                </div>
                <div>
                    <label for="itineraire">Itinéraire concerné (facultatif)</label>
                    <select name="itineraire" id="itineraire">
                   <option value="">--Choisis une option--</option>
  <option value="1">Itinéraire 10 Jours</option>
  <option value="2">Itinéraire 2 Semaines</option>
  <option value="3">Itinéraire 2 Semaines</option>
  </select>
                </div>
                <div>
                    <label for="com">Ton commentaire</label>
                    <textarea id="com" name="com" rows="5" cols="33" minlength="10" placeholder="Ecris ici ton commentaire" required="required"></textarea>
                </div>
                <div>
                    <button type="submit">Envoyer</button>
                </div>
            </form>
        </section>
    </main>
    <%- include('footer') -%>
