/******** GENERAL ********/
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Lato";
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    color: #473c38;
    background-color: #f6f4f3;
    width:100%;
}

img {
    /*max-width: 60%;*/
    width: 100%;
    height: auto;
}


li{
    list-style:none;
}


/******** HEADER ********/
/******** NAVBAR ********/

.nav_header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #cbbfb4;
    padding:10px;
}


nav a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
    text-transform: uppercase;
}

nav a:hover {
    color: #FFFFFF;
    font-weight: bold;
}

.header_logo {
    cursor: pointer;
    width: 20%;
}


/******** MENU BURGER ********/

h1 a{
    color: #473c38;
    font-size:2.5rem;
}

nav ul{
    display:flex;
    justify-content:space-between;
    width:100%;
    font-size:0.5rem;
    margin: 0;
}

nav li a {
    color:#473c38;
    font-size:1rem;
    font-weight:bold;
}

#icons{
    cursor:pointer;
    display:none;
    display:block;
    font-size:14px;
}

    #icons:before{
        color: #473c38;
        content:"\2630";
        font-size:3rem;
        
    }

#icons.js-toggle-icon:before{
    color: #473c38;
    content:"\2715";
    font-size:3rem;
}

nav ul{
    position:absolute;
    right:-100%;
    flex-direction:column;
    background-color:#d1c8c1;
    width:100%;
    text-align:center;
    transition:0.25s;
    padding:0;
}

nav li{
    padding:3px 0;
}

nav li:hover{
    background-color:#cbbfb4;
}

.js-visibility{
    right:0;
}

.js-main-menu{
    position:relative;
    top:75px;
}

/******** FOOTER ********/
footer{
    background-color: #cbbfb4;
}

.footer_logo{
    width:40%;
    height:auto;
    margin:auto;
    padding-top:10px;
}

.footer_logo h4{
    font-size:2.5rem;
    margin-top:5px;
}

.footer a{
  text-decoration:none;  
  color:#473c38;
}

.footer a:hover{
    color: #FFFFFF;
    font-weight: bold;
}
.footer_contact, .social_network {
    padding:5px;
    text-align:center;
}

.social_network{
    text-align: center;
    margin:0;
}

.social_network h4{
    margin:10px;
    font-size:2rem;
}

.social_network i{
    font-size:40px;
    text-align: center; 
    padding:15px;
}

.social_network p{
    margin-top:10px;
}

.footer_final{
    font-size:14px;
    text-align:center;
    font-style:italic;
    font-weight:bold;
    padding:10px;
}

/******** HOME ********/
.home h2{
    font-size:20px;
    text-align:center;
}

/******** SLIDER ********/
.slider{
    height:60vh;
    position:relative;
    margin-top:20px;
}

.slider img{
     width:100%;
     height:auto;
     position:absolute;
     top:0;
     opacity:0;
     transition:opacity 5s ;
}

img.active{
    opacity:1;
}


/******** ITINERAIRES ********/

.itinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-decoration:none;*/
}

.itinerary_section {
    margin-top: 40px;
}

.itinerary_section h2,
.itinerary_section a {
    font-weight: bold;
    text-transform: uppercase;
    color: #473c38;
    text-decoration: none;
    margin:10px;
}

.itinerary_section h2 a:hover {
    color: #86654b;
}


.list_itinerary ul {
    padding: 0;
}

.itinerary_info,
.itinerary_info a {
    font-size: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.itinerary_info {
    margin-top: 20px;
}

.itinerary_info a {
    background-color: #473c38;
    padding: 7px;
    color: #f6f4f3;
    border-radius: 5%;
}

.itinerary_info a:hover {
    background-color: #86654b;
}


/******** DETAILS ITINERAIRES ********/

.redirection_link{
    color: #473c38;
    padding-left:10px;
}

.redirection_link:hover {
    color: #86654b;
}

.itinerary_title_1{
    text-align:center;
}


.details_part_1{
    display:flex;
    flex-direction:column;
    margin:7px;
    width:100%;
}

.details_img_1{
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
}




