/******** GENERAL ********/

html {
    font-size: 62.5%;
    font-family: "Lato";
}

body {
    /*box-sizing: border-box;*/
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    color: #473c38;
    background-color: #f6f4f3;
    width:100%;
}

img {
    /*max-width: 60%;*/
    width: 80%;
    height: auto;
}


header img,
headerAdmin img {
    /*max-width: 50%;*/
    width: 50%;
    height: auto;
}

li{
    list-style:none;
}

footer {
    background-color: #cbbfb4;
}

/******** NAVBAR ********/

nav a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
    text-transform: uppercase;
}

nav a:hover {
    color: #FFFFFF;
    font-weight: bold;
}

.header_logo {
    cursor: pointer;
}


/******** MENU BURGER ********/

h1{
    font-size:1rem;
}

nav{
    background-color: #cbbfb4;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    
}

nav ul{
    display:flex;
    justify-content:space-between;
    width:100%;
    font-size:0.5rem;
}

nav li {
    color:#473c38;
}

#icons{
    cursor:pointer;
    display:none;
    display:block;
    font-size:14px;
}

    #icons:before{
        content:"\2630"
    }

.active #icons:before{
    content:"\2715";
}

nav ul{
    position:absolute;
    left:-100%;
    top:13%;
    flex-direction:column;
    background-color:#d1c8c1;
    width:100%;
    text-align:center;
    transition:0.25s;
    padding:0;
    
}

nav li{
    padding:3px 0;
}

nav li:hover{
    background-color:#cbbfb4;
}

.active ul{
    left:0;
}

/******** ITINERAIRES ********/

.itinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-decoration:none;*/
}

.itinerary_section {
    margin-top: 40px;
}

.itinerary_section h2,
.itinerary_section a {
    font-weight: bold;
    text-transform: uppercase;
    color: #473c38;
    text-decoration: none;
    margin:10px;
}

.itinerary_section h2 a:hover {
    color: #86654b;
}


.list_itinerary ul {
    padding: 0;
}

.itinerary_info,
.itinerary_info a {
    font-size: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.itinerary_info {
    margin-top: 20px;
}

.itinerary_info a {
    background-color: #473c38;
    padding: 7px;
    color: #f6f4f3;
    border-radius: 5%;
}

.itinerary_info a:hover {
    background-color: #86654b;
}



/******** FOOTER ********/
.footer a{
  text-decoration:none;  
  color:#473c38;
}
.footer_contact, .social_network {
    padding:10px;
    margin-top:15px;
}

.footer_contact, .social_network h4{
    text-align:center;
    font-size:16px;
}
.social_network{
    text-align: center; 
}

.social_network i{
    font-size:40px;
    text-align: center; 
    padding:15px;
}

.footer_final{
    font-size:14px;
    text-align:center;
    font-style:italic;
    font-weight:bold;
    padding:10px;
}


/******** DETAILS ITINERAIRES ********/

.redirection_link{
    color: #473c38;
    padding-left:10px;
}

.redirection_link:hover {
    color: #86654b;
}

.itinerary_title_1{
    text-align:center;
}


.details_part_1{
    display:flex;
    flex-direction:column;
    margin:7px;
    width:100%;
}

.details_img_1{
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
}




